<div> <%= render 'layouts/menu' %></div>
<div class="container">
	
	<div class="row">
		<div class="col-md-3 sides"></div>
			<div class="col-md-6">
				<div class="myContainer">
					<h1 id="list_title">MAD Topics</h1>

					<%= render 'layouts/listbtns' %> <br>
					
					<% @questions.order("created_at desc").each do |q| %>
						<div class="panel panel-primary">
				  			<div class="panel-heading">
								<h2 class="panel-title">
									<%= q.topic.name %>
								</h2>
							</div>
							<div class="panel-body">
								<p><%= q.enigma %></p>
							</div>
							<div class="panel-footer">
								<%= link_to "Answer Question", question_path(q) %>
							</div>
						</div>
					<% end %>

					<br/><br/>
				</div>
			</div>
		<div class="col-md-3 sides"></div>
	</div>
</div>



