<div> <%= render 'layouts/menu' %></div>
<div class="container">
	
	<div class="row">
		<div class="col-md-1 sides"></div>
			<div class="col-md-10">
				<div class="myContainer">
					<h1 id="list_title">
						<%= link_to("#questionModal", class: "btn btn-default btn-lg", "data-toggle" => "modal" ) do %>
							Add a MadTopic <i class="glyphicon glyphicon-plus"></i>
						<%end%>
					</h1>

					<%= render 'layouts/listbtns' %> <br><br>
					
					<% @questions.order("created_at desc").each do |q| %>
						<div class="panel panel-primary">
				  			<div class="panel-heading">
								<h2 class="panel-title">
									<%= q.topic.name %>
								</h2>
							</div>
							<div class="panel-body">
								<p class="lead center"><%= q.enigma %></p>
								<p id="total">Total Votes: <%= q.votes %><p>
							</div>
							<div class="panel-footer">

									<% if UserAnswer.where(question_id: q.id , user_id: current_user.id ).exists? %>
											<ol>
											<% for answer in q.answers %>
												<% count = 1 %>
												<p class="bg-primary"><li><%=answer.description.upcase %> 
													  	|| Votes: <%= answer.votes %> || 
													  	<%= answer.vote_ratio %>%</li> 
												</p>
												
											<% end %>
											</ol>
									<% else %>
										<ol>

											<% for answer in q.answers %>
												<li><%= link_to answer.description, user_answers_path(:answer_id => answer, :user_id => current_user), class: "btn btn-info btn-block" %>
												</li><br><br>
											<% end %>

										</ol>
									<%end%>

								<%= link_to "Answer Question", question_path(q) %>
							</div>
						</div>
					<% end %>

					<br/><br/>
				</div>
			</div>
		<div class="col-md-1 sides"></div>
	</div>
</div>



