<div> <%= render 'layouts/menu' %></div>
<div class="container">
	
	<div class="row">

		<div class="col-xs-4 col-sm-2 sides">
			<div id="filter">
				<br>
				<%= render 'filter' %>
			</div>
		</div>

			<div class="col-xs-10 col-sm-8">
				<div class="myContainer">
					
					<%= render 'layouts/listbtns' %> <br><br>
					
					<% @questions.order("created_at desc").each do |q| %>
						<div class="panel panel-primary">
				  			<div class="panel-heading">
								<h2 class="panel-title">
									<%= q.topic.name %>
								</h2>
							</div>
							<div class="panel-body">
								<p class="lead center"><%= q.enigma %></p>
								<p id="total"><strong>Total Votes: <%= q.votes %></strong><p>
							</div>
							<div class="panel-footer">

									<% if UserAnswer.where(question_id: q.id , user_id: current_user.id ).exists? %>
											<ol>
											<% for answer in q.answers %>
												<% count = 1 %>
												<p class="bg-primary">
													<% answer.vote_ratio = answer.votes.to_f / q.votes.to_f %>
													<li>
														<p class="lead"><%=answer.description.upcase %> 
													  	||<span id="votes"> Votes: <%= answer.votes %></span> || 
													  	<span id="ratio"><%= (answer.vote_ratio * 100).to_i %>%</span>
													  </p>
													</li> 
												</p>
												
											<% end %>
											</ol>
									<% else %>
										<ol>

											<% for answer in q.answers %>
												<li><%= link_to answer.description, user_answers_path(:answer_id => answer, :user_id => current_user), class: "btn btn-info btn-block" %>
												</li><br><br>
											<% end %>

										</ol>
									<%end%>

								<%= link_to "See Stats", '#' %>
								<% if(q.user_id == current_user.id) %>
									<span id="ed">
									<%= link_to "Edit", edit_question_path(q) %>
									<%= link_to "Delete", q, method: :delete, data: {confirm: 'Are you sure you want to delete it?'} %></span>
								<% end %>
							</div>
						</div>
					<% end %>

					<br/><br/>
				</div>
			</div>
		<div class="col-xs-4 col-sm-2 sides">
			<h1 id="list_title">
					<%= link_to("#questionModal", class: "btn btn-default btn-lg", "data-toggle" => "modal" ) do %>
						Add a MadTopic <i class="glyphicon glyphicon-plus"></i>
					<%end%>
			</h1>
		</div>
	</div>
</div>



