<div class="container">
	<h1>Create New Question</h1>

	<%= form_for @question do |f| %>

		<%= hidden_field_tag :user_id, @user %>

		<div class="field">
			<%= collection_select(:question, :topic_id, Topic.all, :id, :name, prompt: true, :required => true) %>*
		</div>
		
		<br>
		Question: <%= f.text_area :enigma %><br/><br/>
		
		<%= f.fields_for :answers do |builder| %>
			<p>	
				Answer: <%= builder.text_field :description %><br/>
			</p>
		<% end %>
		
	<%= f.submit "Add Question" %>

	<% end %>

	<%= link_to "Back to Question List", questions_path %>
</div>