<div class="container">
	<h1>Create New Question</h1>

	<%= nested_form_for @question do |f| %>

		<div class="field">
			<%= collection_select(:question, :topic_id, Topic.all, :id, :name, prompt: true, :required => true) %>*
		</div>
		
		<br>
		Question: <%= f.text_area :enigma %><br/><br/>
		
		<%= f.fields_for :answers do |builder| %>
			<p>	
				Answer: <%= builder.text_field :description %>
				<%= builder.link_to_remove "Remove this answer" %><br/>
			</p>
		<% end %>
		<p><%= f.link_to_add "Add a answer", :answers %></p>
	<%= f.submit "Add Question" %>

	<% end %>

	<%= link_to "Back to Question List", questions_path %>
</div>